@import url(userVariables.css);
@import url(square-tabs.css);
@import url(menus.css);
@import url(csshacks/tab-closing-animation.css);
@import url(csshacks/tab-loading-indicator.css);
@import url(csshacks/iconized-main-menu.css);
@import url(csshacks/iconized-textbox-context-menu.css);
@import url(csshacks/iconized-tabs-context-menu.css);
@import url(csshacks/iconized-places-context-menu.css);
@import url(csshacks/iconized-content-context-menu.css);

/* urlbar border */
#urlbar:focus-within > #urlbar-background {
  border-color: var(--custom-accent-color) !important;
}
#urlbar-background {
  transition: border-color 0.5s ease !important;
}
#urlbar:hover #urlbar-background {
  border-color: var(--custom-accent-color) !important;
}
