@import "userVariables.css";
@import "square-tabs.css";
@import "tab-closing-animation.css";
@import "tab-loading-indicator.css";
@import "iconized-main-menu.css";
@import "menus.css";

/* urlbar border */
#urlbar:focus-within > #urlbar-background {
  border-color: var(--custom-accent-color) !important;
}
#urlbar-background {
  transition: border-color 0.5s ease !important;
}
#urlbar:hover #urlbar-background {
  border-color: var(--custom-accent-color) !important;
}
